@page
@model GrowGreenWeb.Pages.Giving.mainModel
@{
    TempData["Title"] = "View All Posts";
}
@section Styles{
    <link href="@Url.Content("~/css/GivingC/responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/GivingC/style.css")" rel="stylesheet" type="text/css" />
}
    <!-- end loader -->
    <!-- header -->
    <header class="section">
        <!-- end header inner -->
    </header>
    <!-- end header -->
    <section>
        <div id="main_slider" class="section carousel slide banner-main" data-ride="carousel">
            <div class="carousel-inner" style="background-color:#577a47;">
                    <div class="container">
                        <div class="row marginii">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="carousel-caption ">
                                    <h1>Welcome to <strong class="color">To The Giving Community!</strong></h1>
                                    <p>Giving Community is a society where GrowGreen's Users can post old or unused items that they wish to give away to others! Totally free of charge of use! Happy Browsing'</p>
                                    <a class="btn btn-lg btn-primary" href="#" role="button">Buy Now</a>
                                    <a class="btn btn-lg btn-primary" href="about.html" role="button">About </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="img-box">
                                <figure><img src="https://www.openaccessgovernment.org/wp-content/uploads/2018/11/dreamstime_s_74844293.jpg" alt="img" style="padding-top:inherit;"/></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row marginii">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="carousel-caption ">
                                    <h1>Welcome to <strong class="color">Our Shop</strong></h1>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                                    <a class="btn btn-lg btn-primary" href="#" role="button">Buy Now</a>
                                    <a class="btn btn-lg btn-primary" href="about.html" role="button">About</a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="img-box ">
                                    <figure><img src="images/boksing-gloves.png" alt="img" /></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- plant -->
    <div id="plant" class="section  product">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="titlepage">
                        <h2 style="color:#577a47;"><strong class="black">Our</strong> Posts</h2>
                        <span>Here at Growgreen;s Giving Community, there are many posts about old and unused items that people in Singapore are willing to give away. Browse away 
                            , there is always a choice for you.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clothes_main section " style="background-color:#577a47;">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="sport_product">
                        <figure><img src="images/basketball.png" alt="img" /></figure>
                        <h3> $<strong class="price_text">50</strong></h3>
                        <h4>basket ball</h4>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 ">
                    <div class="sport_product">
                        <figure><img src="images/t-shirt.png" alt="img" /></figure>
                        <h3> $<strong class="price_text">50</strong></h3>
                        <h4> T-Shirt</h4>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 ">
                    <div class="sport_product">
                        <figure><img src="images/game.png" alt="img" /></figure>
                        <h3> $<strong class="price_text">50</strong></h3>
                        <h4>Game</h4>
                    </div>
                </div>




                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="sport_product">
                        <figure><img src="images/basketball.png" alt="img" /"></figure>
                        <h3> $<strong class="price_text">50</strong></h3>
                        <h4>basket ball</h4>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 ">
                    <div class="sport_product">
                        <figure><img src="images/t-shirt.png" alt="img" /"></figure>
                        <h3> $<strong class="price_text">50</strong></h3>
                        <h4>T-Shirt</h4>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 ">
                    <div class="sport_product">
                        <figure><img src="images/game.png" alt="img" /"></figure>
                        <h3> $<strong class="price_text">50</strong></h3>
                        <h4>Game</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- end plant -->
    <!--about -->
    <div class="section about ">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="titlepage">
                    <h2 style="color:#577a47;"><strong class="black"> About</strong>  Us</h2>
                        <span>GrowGreen's Giving Community aims to help reduce global carbon footprint as well as help others to record and achieve that same goal.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <section>
        <div id="main_slider" class="section carousel slide banner-main" data-ride="carousel">
        <div class="carousel-inner" style="background-color:#577a47;">
                    <div class="container">
                        <div class="row marginii">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="carousel-sporrt_text ">
                                    <h1 class="sporrt_text">Recycable Options</h1>
                                    <p class="lorem_text">By using GrowGreen's Giving Community, you will be able to furthur reduce your carbon footprint in today's current environment. By donating or giving away your unused items,
                                        you can reduce your total overall waste. This is also a form reusing however, its someone else who reuses instead! Do your part in saving the environment today!
                                        Points can be earned and redeem for additional rewards at our GrowGreen Rewards Section. You can also give tips!
                                    </p>
                                    <div class="btn_main">
                                        <a class="btn btn-lg btn-primary" href="#" role="button">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="img-box">
                            <figure><img src="https://www.aimsindia.com/wp-content/uploads/2022/06/world-environment.png" style="max-width: 100%; border: 15px solid #fff;" /></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
