<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Grow Green</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/GrowGreenWeb.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    @* First navbar *@
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow"
         id="first-navbar">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img src="img/logo.png"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                @* Left-aligned navbar links *@
                @* <ul class="navbar-nav flex-grow-1"> *@
                @*     <li class="nav-item"> *@
                @*         <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a> *@
                @*     </li> *@
                @*     <li class="nav-item"> *@
                @*         <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a> *@
                @*     </li> *@
                @* </ul> *@

                @* Right-aligned navbar links *@
                <div class="ms-auto">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    
    @* Second navbar *@
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
         id="second-navbar">
        <div class="container">
            @* <a class="navbar-brand" asp-area="" asp-page="/Index"> *@
            @*     <img src="img/logo.png"/> *@
            @* </a> *@
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                @* Left-aligned navbar links *@
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/AboutUs">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/AboutUs">Our Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/AboutUs">Ways to Give</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/AboutUs">Our Workshops</a>
                    </li>
                </ul>

                @* Right-aligned navbar links *@
                <div class="ms-auto">
                    <ul class="navbar-nav flex-grow-1">
                        <a class="btn btn-primary btn-prominent bg-4" href="#">Donate Now</a>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - GrowGreenWeb - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>