@page
@model GrowGreenWeb.Pages.Lecturer.Courses.Manage.CreateLectureModel
@{
    ViewData["Title"] = "Create Lecture";
}
<h1>Course Management</h1>
<div class="row">
    @* Sidebar *@
    <div class="col-3">
        @{ await Html.RenderPartialAsync("_Sidebar"); }
    </div>

    <div class="col-9">
        <form method="post" asp-page-handler="" asp-route-id="@Model.Course.Id" asp-route-lectureId="@Model.LectureEdit?.Id">
            <div class="mb-3 card p-2">
                <div class="card-body">
                    @if (Model.LectureEdit is null)
                    {
                        <h3>Create Lecture</h3>
                    }
                    else
                    {
                        <h3>Update Lecture Details</h3>
                    }
                    <div class="row">
                        <div class="col-12">
                            <label asp-for="Title" class="form-label"></label>
                            <input asp-for="Title" class="form-control"/>
                            <span asp-validation-for="Title" class="text-danger"></span>

                            <div class="col-12">
                                <label asp-for="StartDate" class="form-label"></label>
                                <input asp-for="StartDate" class="form-control"/>
                                <span asp-validation-for="StartDate" class="text-danger"></span>
                            </div>

                            <div class="col-12">
                                <label asp-for="Description" class="form-label"></label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                        </div>


                        <div class="row text-end mt-3">
                            <div class="col-3"></div>
                            <div class="col-3"></div>
                            <div class="col-3">
                                <button type="button" class="btn btn-secondary w-100" onclick="history.back()">Cancel</button>
                            </div>
                            <div class="col-3">
                                <button class="btn btn-success w-100">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}