@page
@using Microsoft.EntityFrameworkCore
@model GrowGreenWeb.Pages.Lecturer.Courses.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create Course</h1>
<form method="post" asp-page-handler="">
    <div class="mb-3 card p-2">
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"></span>

                    <div class="row mt-3">
                        <div class="col-6">
                            <label asp-for="StartDate" class="form-label"></label>
                            <input asp-for="StartDate" class="form-control"/>
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label asp-for="EndDate" class="form-label"></label>
                            <input asp-for="EndDate" class="form-control"/>
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>

                        <div class="col-12 mt-3">
                            <label asp-for="Description" class="form-label"></label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>


                </div>
                <div class="col-4">
                    @{
                        string img;
                        if (Model.ImageUrl is null)
                        {
                            img = "/img/courses/default-course.png";
                        }
                        else
                        {
                            img = @Model.ImageUrl;
                        }
                        <img src="@img" class="w-100" style="object-fit: contain"/>
                    }
                    <button type="button" data-bs-toggle="modal" data-bs-target="#imageModal"
                            class="btn btn-primary bg-6 w-100 mt-2">Upload Image</button>
                </div>
                
                <input asp-for="ImageUrl" hidden />
            </div>


            <div class="row text-end mt-3">
                <div class="col-3"></div>
                <div class="col-3"></div>
                <div class="col-3">
                    <a class="btn btn-secondary w-100" asp-page="Index">Cancel</a>
                </div>
                <div class="col-3">
                    <button class="btn btn-primary w-100">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <form method="post" asp-page-handler="Upload" enctype="multipart/form-data">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModalLabel">Upload new image</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label asp-for="Upload" class="form-label"></label>
                        <input class="form-control" asp-for="Upload"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button class="btn btn-success">Upload</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}