@page
@model GrowGreenWeb.Pages.Admin.Newsletters.MailingList.IndexModel

@{
    ViewData["Title"] = "Mailing List";
}

<h1>Grow Green Mailing List Signups</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Email) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email1)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
