@page
@model GrowGreenWeb.Pages.Donation.mainModel
@{
    <form action = "/Home/CreateCheckoutSession" method="post">
    <input type="text" id="TextBox1" placeholder="amount"/><br>
    <button type="submit">Checkout</button>
    </form>
}
