@page
@model GrowGreenWeb.Areas.Lecturer.Pages.Workshops.IndexModel
@{
    ViewData["Title"] = "Workshops";
}

<div class="row">
    <div class="col-6">
        <h1>My Workshops</h1>
    </div>
    <div class="col-6 text-end">
        <a href="#" class="btn btn-success bg-3 me-2">
            New Workshop
            <img src="/img/icons/plus.png" class="icon icon-btn" />
        </a>
        <a href="#" class="btn btn-success bg-5">
            Search/Filter
            <img src="/img/icons/filter.png" class="icon icon-btn" />
        </a>
    </div>
</div>

<h3 class="mt-2">Ongoing</h3>

<h3 class="mt-2">Past Workshops</h3>