html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Fonts */
@font-face {
  font-family: NunitoSans;
  /*noinspection CssUnknownTarget*/
  src: url("/font/NunitoSans-Regular.ttf");
}

@font-face {
  font-family: NunitoSans;
  font-weight: bold;
  /*noinspection CssUnknownTarget*/
  src: url("/font/NunitoSans-Bold.ttf");
}

/* End Fonts */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: NunitoSans, sans-serif;
  background-color: #ebedee;
}

footer {
  background-color: rgb(65, 54, 32);
  line-height: 2.2rem !important;
}

.card-footer {
  background-color: #BB9966;
  padding-top: 30px;
  padding-bottom: 30px;
  transform: translate(0px, -80px);
}

.icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.icon-btn {
  margin-left: 5px;
  margin-bottom: 5px;
}

.footer-icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.footer-icon-social {
  width: 36px;
  height: 36px;
  object-fit: contain;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

/* Navbar */
.navbar-brand > * {
  height: 40px;
}

.nav-item {
  margin-right: 3rem;
}

#first-navbar {
  padding: 0;
}

/*
 * Colours
 * https://coolors.co/ebedee-413620-577a47-d64933-8db4c6
 */

.bg-1 {
  background-color: #EBEDEE;
}

.bg-2 {
  background-color: #413620;
}

.bg-3 {
  background-color: #577A47;
}

.bg-4 {
  color: #fff;
  background-color: #D64933 !important;
  border-color: #d64933 !important;
}

.bg-5 {
  background-color: #8DB4C6;
}

/*
 * Miscellaneous Stuffs
 */
.btn {
  height: 3rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  line-height: 2.05rem;
  border-radius: 8px;
}

.btn-prominent {
  height: 2.7rem;
  width: 12rem;
  line-height: 1.8rem;
}

.card {
  border-radius: 15px;
}

.footer-input::-webkit-input-placeholder {
  font-style: italic;
}

.footer-input:-moz-placeholder {
  font-style: italic;
}

.footer-input::-moz-placeholder {
  font-style: italic;
}

.footer-input:-ms-input-placeholder {
  font-style: italic;
}