@page
@model GrowGreenWeb.Pages.Recycler.IndexModel
@{
    ViewData["Title"] = "Recycler";
}

<style>
    .dropzone {
    	width: 100px;
    	height: 80px;
    	border: 1px dashed #999;
    	border-radius: 3px;
    	text-align: center;
    	margin-left: auto;
    	margin-right: auto;
    }
    
    .upload-icon {
    	margin: 25px 2px 2px 2px;
    }
    
    .upload-input {
    	width: 100%;
    	height: 100%;
    	opacity: 0;
    }
</style>

<div class="mb-3 card p-2">
    <div class="card-body text-center">

        <h1>Recycler Assistant</h1>
        <h5>Find the nearest recycling point today!</h5>

        <form method="post" enctype="multipart/form-data"
              class="mt-4 w-50 ms-auto me-auto" id="upload-form">
            <label asp-for="ImageFile" class="form-label"></label>
            <input asp-for="ImageFile" class="form-control" accept="image/*"
                   capture="environment" onchange="$('#upload-form').submit()"/>
            <span asp-validation-for="ImageFile" class="text-danger"></span>

            @* <div class="dropzone"> *@
            @*     <img src="/img/upload.svg" class="upload-icon"/> *@
            @*     <input type="file" accept="image/*" capture="environment"  *@
            @*            class="upload-input"/> *@
            @* </div> *@

            <button class="mt-4 btn bg-5 btn-success w-100">Let's Go</button>
        </form>

        @if (Model.Result is not null)
        {
            <p class="text-success">Detected @Model.Result</p>
        }
    </div>
</div>